<% provide(:title, t('title.resend_confirmation')) %>
<div class="container form-devise">
  <div class="row">
    <div class="text-center">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
                                                html: { method: :post }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <div class="panel-body ">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control',
                                    value: pending_reconfirmation? %>
          <%= f.submit t('title.resend_confirmation'), class: 'btn btn-sm btn-primary btn-block' %>
        </div>
      <% end %>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
