<% provide(:title, t('title.edit_profile')) %>
<div class="container form-devise">
  <div class="row">
    <div class="panel-body">
      <h2 class="text-center"><%= t('user.edit') %> <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('user.waiting_confirm')%><%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.label :password %><i><%= t('user.no_change')%></i><br />
        <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %><%= t('user.characters_minimum') %></em>
        <% end %>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
        <%= f.label :current_password %><i><%= t('user.current_password') %></i><br />
        <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
        <%= f.submit t('user.update'), class: 'btn btn-sm btn-primary btn-block' %>
      <% end %>
      <hr>
      <%= link_to t('user.back'), :back %>
    </div>
  </div>
</div>
