<div class="container">
  <h1 class="text-center"><%= t('order.your_order_status') %></h1>
  <hr>
  <table id="orders" class="table table-hover">
    <tr>
      <th><%= t('order.order_status') %></th>
      <th><%= t('order.total_price') %></th>
      <th><%= t('order.delivery_time') %></th>
    </tr>
    <tr>
      <td><%= @order.status %></td>
      <td><%= number_to_currency(@order.total) %></td>
      <td><%= @order.delivery_time %></td>
    </tr>
  </table>
  <hr>
  <div class="text-center">
    <%= link_to root_path, class: 'btn btn-primary' do %>
      <i class='fa fa-shopping-cart'><strong><%= t('order.continue_shopping') %></strong></i>
    <% end %>
  </div>
</div>
