<% provide(:title, t('title.checkout')) %>
<div class="form-checkout">
  <h2 class="form-checkout text-center"><%= t('order.order_title') %></h2>
  <div class="row-info">
    <div class="col-50">
      <div class="containerr">
        <%= render 'infor' %>
      </div>
    </div>
    <div class="col-50">
      <div class="containerr">
        <table id="orders" class="table table-hover">
          <thead class="font-size" >
            <tr>
              <th><%= t('cart.product_name') %></th>
              <th class="text-center"><%= t('cart.quantity') %></th>
              <th class="text-center"><%= t('cart.price') %></th>
              <th class="text-center"><%= t('cart.subtotal') %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'order_row', collection: @order_details, as: :od_details %>
          </tbody>
        </table>
        <hr>
        <div class="voucher"><%= t('voucher.title') %>
          <%= form_tag(orders_voucher_path, method: :post, remote: true) do %>
            <%= text_field(:voucher, @code) %>
            <%= button_tag(t('voucher.apply_voucher'), type: 'submit',
                                                       data: { confirm: t('voucher.confirm_apply') },
                                                       class: 'btn btn-primary btn-sm') %>
          <% end %>
        </div>
          <%= form_tag(orders_voucher_path, method: :delete, remote: true) do %>
            <%= button_tag(t('voucher.cancel_voucher'), type: 'submit',
                                                        data: { confirm: t('voucher.confirm_cancel') },
                                                        class: 'btn btn-primary btn-sm cancel_voucher') %>
          <% end %>
        <hr>
        <div><%= t('order.total_price_products') %>
          <span class="price" style="color:black">
            <%= number_to_currency(@cart[:total]) %>
          </span>
        </div>
        <br>
        <div class="apply_voucher">
          <%= t('voucher.discount') %>
          <span class="price" style="color:black">
            <%= number_to_currency(current_voucher[:discount]) %>
          </span>
        </div>
        <hr>
        <div class= "total">
          <h5 id="total_price">
            <div>
              <h3><%= t('order.total_od') %>
              <span class="price total_price_order" style="color:black">
                <%= number_to_currency(total_price_order) %>
              </span>
              </h3>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
