<div class="container padding-bottom-3x mb-1">
  <div class="table-responsive shopping-cart">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center"><%= t('cart.name') %></th>
          <th class="text-center"><%= t('cart.quantity') %></th>
          <th class="text-center"><%= t('cart.price') %></th>
          <th class="text-center"><%= t('cart.subtotal') %></th>
          <th class="text-center">
            <%= link_to t('cart.clear_cart'), clear_cart_path, class: 'btn btn-sm btn-outline-danger' %>
          </th>
        </tr>
      </thead>
      <tbody id="ajax-cart-row">
        <%= render(partial: 'carts/cart_row',
                   collection: @products_in_cart,
                   as: :product) || t('cart.cart_is_empty') %>
      </tbody>
    </table>
  </div>
  <div class="shopping-cart-footer">
    <div class="column text-lg total_price"><%= t('cart.total') %>
      <span><strong><%= number_to_currency(@cart[:total]) %></strong></span>
    </div>
  </div>
  <div class="shopping-cart-footer">
    <div class="column">
      <%= link_to root_path, class:'btn btn-primary' do %>
        <i class='icon-arrow-left'></i>&nbsp;<%= t('cart.back_to_shopping')%>
      <% end %>
    </div>
    <div class="column">
      <%= link_to t('cart.checkout'), new_order_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
