<% provide :button_text, t('admin.category.update_category')%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @category]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :parent_id %>
      <%= f.collection_select(:parent_id, get_parent_categories_valid(@category.id), :id, :name) %>
      <br>
      <%= f.submit yield(:button_text), class: 'btn btn-primary form-control' %>
    <% end %>
  </div>
</div>
