<div class="p-4">
  <h1><%= t('admin.category.list_categories') %></h1>
  <h3><%= t('admin.category.total_categories', total_categories: @categories.total_count) %></h3>
  <%= link_to t('admin.category.new_category'), new_admin_category_path, class: 'glyphicon glyphicon-plus' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('admin.category.id') %></th>
        <th><%= t('admin.category.name') %></th>
        <th><%= t('admin.category.parent_id') %></th>
        <th><%= t('admin.category.action') %></th>
      </tr>
    </thead>
    <tbody id="categories">
      <%= render @categories %>
    </tbody>
  </table>
  <div id="paginator">
    <%= paginate @categories, theme: 'twitter-bootstrap-3', remote: true %>
  </div>
</div>
