<tr class="active">
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
  <td><%= product.category_id %></td>
  <td><%= product.brand_id %></td>
  <td>
    <%= link_to t('admin.product.edit'), edit_admin_product_path(product),
                                         class: 'btn btn-success btn-md glyphicon glyphicon-edit' %>
    <%= link_to t('admin.product.delete'), admin_product_path(product),
                                           data: { confirm: t('admin.product.confirm_delete') },
                                           method: :delete,
                                           class: 'btn btn-danger btn-md glyphicon glyphicon-trash' %>
  </td>
</tr>
