<div class="p-4">
  <h1><%= t('admin.product.list_products') %></h1>
  <h3><%= t('admin.product.total_products', total_products: get_total_products) %></h3>
  <%= link_to t('admin.product.new_product'), new_admin_product_path, class: 'glyphicon glyphicon-plus' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('admin.product.id') %></th>
        <th><%= t('admin.product.name') %></th>
        <th><%= t('admin.product.price') %></th>
        <th><%= t('admin.product.quantity') %></th>
        <th><%= t('admin.product.category_id') %></th>
        <th><%= t('admin.product.brand_id') %></th>
        <th><%= t('admin.product.action') %></th>
      </tr>
    </thead>
    <tbody id="products">
      <%= render @products %>
    </tbody>
  </table>
  <div id="paginator">
    <%= paginate @products, theme: 'twitter-bootstrap-3', remote: true %>
  </div>
</div>
