<% provide(:title, t('title.product')) %>
<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <%= load_image_product(@product) %>
          </div>
        </div>
      </div>
      <div class="details col-md-6">
        <h1 class="product-title"><%= @product.name %></h1>
        <div class="rating">
          <div class="star-rating mb-2">
            <div class="star-rating-front"><%= t('product.star') %></div>
            <div class="star-rating-back"><%= t('product.star') %></div>
            <small>(<%= t('rating.point') %>)</small>
          </div>
        </div>
        <h5 class="product-description"><%= @product.description %></h5>
        <h4 class="price">
          <%= t('product_detail.price') %>
          <span><%= number_to_currency(@product.price) %></span>
        </h4>
        <h5 class="quanlity">
          <%= t('product_detail.quantity_in_stock', num: @product.quantity)%>
        </h5>
        <h5>
          <%= t('product_detail.quantity')%>
        </h5>
        <div class="action">
          <%= form_tag(carts_path, method: :post, remote: true) do %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= hidden_field_tag(:price, @product.price) %>
            <%= number_field_tag(:quantity, Settings.product.min_quantity, min: Settings.product.min_quantity,
                                                                           max: @product.quantity,
                                                                           class: 'form-control') %>
            <%= button_tag(type: 'submit', class: 'add-to-cart-detail btn-default') do %>
              <i class='fa fa-shopping-cart'> <%= t('product.add_to_cart') %></i>
            <% end %>
          <% end %>
          <div class="rating-box mt-3">
            <div class="main-rating">
              <div class="ratings mb-3">
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
                <span class="fa fa-star-o" id="star"></span>
              </div>
              <div class="ml-3 rating-value-display">
                <span id="rating-value-display"><%= t('rating.min') %></span>
                <%= t('rating.sign') %><%= t('rating.max') %>
              </div>
            </div>
            <%= text_field :content, class: 'content' %>
            <%= button_tag t('order.submit'), class: 'btn btn-success btn-md glyphicon glyphicon-ok' %>
            <%= button_tag t('rating.index'), class: 'btn btn-info btn-md glyphicon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
