<div id="wrapper" class="wrapper-content">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= link_to t('admin.dashboard.title') %>
      </li>
      <li>
        <%= link_to t('admin.dashboard.categories') %>
      </li>
      <li>
        <%= link_to t('admin.dashboard.products') %>
      </li>
      <li>
        <%= link_to t('admin.dashboard.orders') %>
      </li>
      <li>
        <%= link_to t('admin.dashboard.users') %>
      </li>
      <li>
        <%= link_to t('admin.dashboard.brands') %>
      </li>
      <li>
        <%= link_to t('admin.dashboard.stores') %>
      </li>
    </ul>
  </div>
</div>
